{% extends "baseBO.html.twig" %}
{% block contenu %}
{{include ("checkIn.html.twig")}}

<!-- Message d'erreur s'il n'y a pas de chambre disponible dans une date précise  -->
<p id="complete">{{messageCheck}}</p>

<section>

  {% for room in rooms %}
        <article>
          <img class="imageChambre" src="../{{room.image1}}" alt="{{'image ' ~ room.nomCategorie}}">
          <article class="desc">
            <form class="" action="resaRoomBO.php" method="post">

              <input type="hidden" id="CheckIn" name="CheckIn" value="{{fromDate}}">
              <input type="hidden" id="CheckOut" name="CheckOut" value="{{toDate}}">
              <input type="hidden" name="nbDay" value="{{nbDay}}">
              <input type="hidden" id="roomType" name="roomType" value="{{room.nomCategorie}}">
              <input type="hidden" id="idCategorieChambre" name="idCategorieChambre" value="{{room.idCategorieChambre}}">
              <input type="hidden" id="nbPerson" name="nbPerson" value="{{nbPerson}}">
              <input type="hidden" id="nbChild" name="nbChild" value="{{nbChild}}">
              <input type="hidden" id="idChambre" name="idChambre" value="{{room.idChambre}}">
              <input type="hidden" name="totalToPay" value="{{room.tarifCategorieChambre * nbDay}} €">
              <input type="submit" name="submit" value="{{room.tarifCategorieChambre * nbDay}} €">
            </form>

            <h2>{{room.nomCategorie}}</h2>
            <p><span>{{nbPerson}}</span> personne(s)</p>
            <p><span>{{nbChild}}</span> enfant(s)</p>
            <p>{{room.description}}</p>
            <ul>
              <li>{{room.caracterestique1}}</li>
              <li>{{room.caracterestique2}}</li>
              <li>{{room.caracterestique3}}</li>
            </ul>
          </article>
          <div>

          </div>
        </article>
        <h2>{{message}}</h2>
  {% endfor %}

</section>

{% endblock %}
