{% extends "baseBO.html.twig" %}
{% block contenu %}

<section>
  <p>{{succesMessageAddUpdateRoom}}</p>
  <p>{{failedMessageAddUpdateRoom}}</p>
  <p id="ErrorJS"></p>
  <!-- On cache le formulaire d'ajout d'une chambre quand on click sur modifier une chambre -->
{% if update == 0 %}
  <button id="btnAddRoom" name="button">Ajouter une chambre</button>

  <form id="addRoom"action="manageRoom.php" method="post">
    <input type="text" name="numRoom" placeholder="Numéro de la chambre">
    <input type="text" name="idRoomType" placeholder="Catégorie de la chambre">
    <input type="text" name="image" placeholder="Image de la chambre">
    <input type="text" name="nbPerson" placeholder="La capacité d'adulte de la chambre">
    <input type="text" name="nbChild" placeholder="La capacité d'enfant de la chambre">
    <input type="submit" name="addRoom" value="Valider">
  </form>
</section>
{% endif %}
{% if update == 1 %}
  <h2>Modifier la chambre</h2>
  <section>
    <form id="updateRoom" action="manageRoom.php" method="post">
      <input type="hidden" name="idChambre" value="{{getRoomInfo.idChambre}}">
      <input type="text" id="idRoomType" name="idRoomType" value="{{getRoomInfo.categorieChambreId}}">
      <input type="text" id="image" name="image" placeholder="Modifier l'image de la chambre"  value="{{getRoomInfo.imageChambre}}">
      <input type="text" id="nbPerson" name="nbPerson" placeholder="Modifier La capacité d'adulte de la chambre" value="{{getRoomInfo.capaciteAdulte}}">
      <input type="text" id="nbChild" name="nbChild" placeholder="Modifier La capacité d'enfant de la chambre" value="{{getRoomInfo.capaciteEnfant}}">
      <input type="submit" name="updateRoom" value="Valider">
    </form>
  </section>
{% endif %}
<section>
  <h2>Gérer les <span>Chambres</span></h2>
  <p class="messageSucces">{{messageSucces}}</p>
  <table>
    <thead>
        <tr>
            <th>Numéro de la chambre</th>
            <th>Catégorie de la chambre</th>
            <th>Image</th>
            <th>Capacité Adulte</th>
            <th>Capacité Enfants</th>
            <th>Modifier la chambre</th>
            <th>Supprimer la chambre</th>
        </tr>
    </thead>
    <tbody>
        {% for getRoom in getRooms %}

            <tr>
                <td>{{getRoom.numChambre}}</td>
                <td>{{getRoom.categorieChambreId}}</td>
                <td>{{getRoom.imageChambre}}</td>
                <td>{{getRoom.capaciteAdulte}}</td>
                <td>{{getRoom.capaciteEnfant}}</td>
                <td>
                  <form class="" action="manageRoom.php" method="post">
                    <input type="hidden" name="idChambre" value="{{getRoom.idChambre}}">
                    <input type="hidden" name="update">
                    <input type="submit" name="update" value="Modifier la chambre">
                  </form>
                </td>
                <td>
                  <form class="" action="manageRoom.php" method="post">
                    <input type="hidden" name="idChambre" value="{{getRoom.idChambre}}">
                    <!-- <input type="hidden" name="delete" value="1"> -->
                    <input type="submit" name="delete" value="Supprimer" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette chambre ?'));"></td>
                  </form>
            </tr>

        {% endfor %}
    </tbody>
  </table>
</section>


{% endblock %}
