{% extends "baseBO.html.twig" %}
{% block contenu %}

{% if updateCat == 1 %}
  <section>
    <p id="ErrorJS"></p>
    <form id="updateRoomCategory" action="manageRoomCategory.php" method="post">
      <input type="hidden" name="idCategorieChambre" value="{{getCategoryInfo.idCategorieChambre}}">
      <input type="text" name="tarifCategorieChambre" value="{{getCategoryInfo.tarifCategorieChambre}}">
      <input type="text" name="image" value="{{getCategoryInfo.image1}}">
      <input type="submit" name="updateRoomCategory" value="Valider">
    </form>
  </section>
{% endif %}
<section>
  <p>{{succesMessageAddUpdateRoom}}</p>
  <p>{{failedMessageAddUpdateRoom}}</p>
  <table>
    <thead>
        <tr>
            <th colspan="8">Gérer les catégories de chambre</th>
        </tr>
        <tr>
            <th>Identifiant Catégorie</th>
            <th>Nom Catégorie</th>
            <th>Image</th>
            <th>Tarif</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tbody>
        {% for getCategory in getCategories %}

            <tr>
                <td>{{getCategory.idCategorieChambre}}</td>
                <td>{{getCategory.nomCategorie}}</td>
                <td>{{getCategory.image1}}</td>
                <td>{{getCategory.tarifCategorieChambre}}</td>
                <td>
                  <form class="" action="manageRoomCategory.php" method="post">
                    <input type="hidden" name="idCategorieChambre" value="{{getCategory.idCategorieChambre}}">
                    <input type="hidden" name="updateCat">
                    <input type="submit" name="update" value="Modifier">
                  </form>
                </td>
            </tr>

        {% endfor %}
    </tbody>
  </table>
</section>


{% endblock %}
