{% extends "baseBO.html.twig" %}
{% block contenu %}
<section>
  <form id="recherch">
    <input type="hidden" id="CheckIn" name="CheckIn" value="{{fromDate}}">
    <input type="hidden" id="CheckOut" name="CheckOut" value="{{toDate}}">
    <input type="hidden" name="nbDay" value="{{nbDay}}">
    <input type="hidden" id="roomType" name="roomType" value="{{roomType}}">
    <input type="hidden" id="idCategorieChambre" name="idCategorieChambre" value="{{idCategorieChambre}}">
    <input type="hidden" id="nbPerson" name="nbPerson" value="{{nbPerson}}">
    <input type="hidden" id="nbChild" name="nbChild" value="{{nbChild}}">
    <input type="hidden" id="idChambre" name="idChambre" value="{{idRoom}}">
    <input type="hidden" name="totalToPay" value="{{totalToPay}} €">
    <label for="search">Recherche client</label><br>
    <input type="search" id="search" name="recherche" value="" placeholder="exemple@gmail.com"><br>
    <input type="submit" name="search" value="Rechercher Client">
  </form>
</section>
<section>
  <article id="reservation">

  </article>
</section>
<!-- Message d'erreurs des champs de formulaire declanché par php -->
<p>{{fieldError}}</p>
{% endblock %}
