{% extends "base.html.twig" %}
{% block contenu %}
  <main>
    <button id="btnPwd" type="button" name="button"> <a href="editPasswordClient.php?lang={{lang}}">{{updatePwd}}</a> </button>
    <h1>{{bienvenue}} <span>{{client.prenom}}</span></h1>
    <p id="updateResa">{{updateResa}}</p>
    <table>
      <thead>
          <tr>
              <th colspan="7">{{vosReservation}} {{chambre}}</th>
          </tr>
          <tr>
              <th>{{chambre}}</th>
              <th>{{dateA}}</th>
              <th>{{dateD}}</th>
              <th>{{nbPersonPlaceholder}}</th>
              <th>{{nbChildPlaceholder}}</th>
              <th>{{updateReservation}}</th>
              <th>{{cancelReservation}}</th>
          </tr>
      </thead>
      <tbody>
          {% for reservation in reservations %}

              <tr>
                  <td>{{reservation.nomCategorie}}</td>
                  <td>{{reservation.dateArriver}}</td>
                  <td>{{reservation.dateDepart}}</td>
                  <td>{{reservation.nbPerson}}</td>
                  <td>{{reservation.nbChild}}</td>
                  <td>
                    {% if reservation.dateArriver >  dateNow %}
                    <form class="" action="profile.php?lang={{lang}}#sectCheckIn" method="post">
                      <input type="hidden" name="idReservation" value="{{reservation.idReservationChambre}}">
                      <input type="hidden" name="idCategorieChambre" value="{{reservation.categorieChambreId}}">
                      <input type="hidden" name="chambreId" value="{{reservation.chambreId}}">
                      <input type="hidden" name="modification" value="1">
                      <input type="submit" id="update" value="{{updateReservation}}">
                    </form>
                    {% endif %}
                  </td>
                  <td>
                    {% if reservation.dateArriver >  dateNow %}
                    <form class="" action="profile.php?lang={{lang}}" method="post">
                      <input type="submit" name="delete" value="{{cancelReservation}}" onclick="return(confirm('Etes-vous sûr de vouloir annuler cette réservation?'));">
                      <input type="hidden" name="idReservation" value="{{reservation.idReservationChambre}}">
                      <input type="hidden" name="idCategorieChambre" value="{{reservation.categorieChambreId}}">
                      <input type="hidden" name="delete" value="1">
                    </form>
                    {% endif %}
                  </td>
              </tr>

          {% endfor %}
      </tbody>
  </table>

  <!-- Afficher le tableau de réservation restaurant s'il y a des réservations -->
  {% if showTableResaRestaurant == 1 %}
    <table id="resaRestaurant">
      <thead>
        <tr>
            <th colspan="4">{{vosReservation}} restaurant</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>Pour</th>
            <th>{{cancelReservation}}</th>
        </tr>
    </thead>
    <tbody>
        {% for getResaRestaurant in getResaRestaurants %}

            <tr>
                <td>{{getResaRestaurant.dateReservation}}</td>
                <td>{{getResaRestaurant.heureResa}}</td>
                <td>{{getResaRestaurant.nombrePersonne}} personnes</td>
                <td>
                  {% if getResaRestaurant.dateReservation >  dateNow %}
                  <form class="" action="manageRestaurantResa.php?lang={{lang}}" method="post">
                    <input type="submit" name="deleteResaRestaurant" value="{{cancelReservation}}" onclick="return(confirm('Etes-vous sûr de vouloir annuler cette réservation?'));">
                    <input type="hidden" name="idReservation" value="{{getResaRestaurant.idReservationRestaurant}}">
                    <!-- <input type="hidden" name="deleteResaRestaurant" value="1"> -->
                  </form>
                  {% endif %}
                </td>
            </tr>

        {% endfor %}
    </tbody>
    </table>
  {% endif %}
  <h2>{{messageSucces}}</h2>

  <!-- Formulaire de check-in -->
  {% if modification == 1 %}

  <!-- message d'erreur avec js -->
  <p id="errorDate"></p>
  <!-- message d'erreur avec js -->
  <p>{{errorMessage}}</p>
  <section id="sectCheckIn">
    <article id="checkIn">

        <!-- formulaire de recherche de chambre dispo -->
        <h2>{{updateYour}} <span>reservation</span></h2>
        <h3></h3>
  
      <form id="formChek" action="" method="post">
          <input type="text" id="fromDate" name="CheckIn" required="required" placeholder="{{dateA}}" value="">
          <input type="text" id="toDate" name="CheckOut" required="required" placeholder="{{dateD}}" value="">
          <input type="hidden" id="idCategorieChambre" name="idCategorieChambre" value="{{idCategorieChambre}}">
          <input type="hidden" id="idReservation" name="idReservation" value="{{idReservation}}">
          <input type="hidden" id="idChambre" name="idChambre" value="{{roomsCheck.idChambre}}">
          <input type="hidden" id="verify" name="verify" value="1">
          <button id="verifier" value="">{{btnCheck}}</button>

      </form>
    </article>
  </section>
  {% endif %}
  <section id="room">
          <article>
              <table>
                <thead>
                    <tr>
                        <th colspan="4">{{confirmUpdate}}</th>
                    </tr>
                    <tr>
                        <th>{{dateA}}</th>
                        <th>{{dateD}}</th>
                        <th>{{ttPay}}</th>
                        <th>{{updateYour}} reservation</th>
                    </tr>
                </thead>
                <tbody id="tabBody">
                </tbody>
            </table>

          </article>
          <p>{{message}}</p>

  </section>
  <section>
    <h2>{{addComment}}</h2>
    <form id="comments">
           <!-- <div id="success">
             <span id="successMessage"></span>
             <i id="closebtn">x</i>
           </div> -->
           <input type="hidden" name="dateComment" value="{{dateComment}}">
           <input type="text" name="title" id="title" placeholder="{{title}}">
           <span id="errorTitle"></span>

           <input type="number" name="note" id="note" placeholder="Note entre 1 et 5" min="1" max="5">
           <span id="errorNote"></span>

           <textarea name="comment" id="comment" placeholder="{{commentMessage}}" rows="8" cols="40"></textarea>
           <span id="errorComment"></span>

           <button id="publish">{{addComment}}</button>

     </form>

  </section>
  <!-- <p>{{messageComment}}</p> -->
  </main>
{% endblock %}
