{% extends "base.html.twig" %}
{% block contenu %}
  <h1>Bienvenue <span>{{client.prenom}}<span></h1>

  <table>
    <thead>
        <tr>
            <th colspan="7">Votre (vos) réservation(s)</th>
        </tr>
        <tr>
            <th>Chambre</th>
            <th>Date d'arrivée</th>
            <th>Daté de départ</th>
            <th>Nombre de personnes</th>
            <th>Nombre d'enfants</th>
            <th>Modifier la réservation</th>
            <th>Annuler la réservation</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}

            <tr>
                <td>{{reservation.nomCategorie}}</td>
                <td>{{reservation.dateArriver}}</td>
                <td>{{reservation.dateDepart}}</td>
                <td>{{reservation.nbPerson}}</td>
                <td>{{reservation.nbChild}}</td>
                <td>
                  <form class="" action="profile.php#formChek" method="post">
                    <input type="hidden" name="idReservation" value="{{reservation.idReservationChambre}}">
                    <input type="hidden" name="idCategorieChambre" value="{{reservation.categorieChambreId}}">
                    <input type="hidden" name="chambreId" value="{{reservation.chambreId}}">
                    <input type="hidden" name="modification" value="1">
                    <input type="submit" id="update" value="Modifier la date">
                  </form>
                </td>
                <td>
                  <form class="" action="profile.php" method="post">
                    <input type="submit" name="delete" value="Annuler" onclick="return(confirm('Etes-vous sûr de vouloir annuler cette réservation?'));"></td>
                    <input type="hidden" name="idReservation" value="{{reservation.idReservationChambre}}">
                    <input type="hidden" name="idCategorieChambre" value="{{reservation.categorieChambreId}}">
                    <input type="hidden" name="delete" value="1">
                  </form>
            </tr>

        {% endfor %}
    </tbody>
</table>
<h2>{{messageSucces}}</h2>


{% if modification == 1 %}
<!-- Formulaire de check-in -->
<section id="sectCheckIn">
  <article id="checkIn">
      <!-- formulaire de recherche de chambre dispo -->
      <h2>Modifier votre <span>réservation</span></h2>
    <!-- <form id="formChek" action="profile.php" method="POST"> -->
    <form id="formChek" action="" method="post">
        <input type="text" id="fromDate" name="CheckIn" required="required" placeholder="Date d'arriver" value="">
        <input type="text" id="toDate" name="CheckOut" required="required" placeholder="Date de départ" value="">
        <input type="hidden" id="idCategorieChambre" name="idCategorieChambre" value="{{idCategorieChambre}}">
        <input type="hidden" id="idReservation" name="idReservation" value="{{idReservation}}">
        <input type="hidden" id="idChambre" name="idChambre" value="{{roomsCheck.idChambre}}">
        <input type="hidden" id="verify" name="verify" value="1">
        <button id="verifier" value="">Vérifie disponibilité</button>

    </form>
  </article>
</section>
{% endif %}
<section id="room">
        <article>
            <table>
              <thead>
                  <tr>
                      <th colspan="5">Confirmer votre modification</th>
                  </tr>
                  <tr>
                      <th>Date d'arrivée</th>
                      <th>Daté de départ</th>
                      <th>Total à payer</th>
                      <th>Modifier la réservation</th>
                  </tr>
              </thead>
              <tbody id="tabBody">
              </tbody>
          </table>
          <h3>Désolé, nous n'avons pas de disponibilité pendant ces dates</h3>
        </article>
        <p>{{message}}</p>

</section>
<section>
  <h2>Ajouter un commentaire</h2>
  <form id="comments">
         <!-- <div id="success">
           <span id="successMessage"></span>
           <i id="closebtn">x</i>
         </div> -->
         <input type="hidden" name="dateComment" value="{{dateComment}}">
         <input type="text" name="title" id="title" placeholder="Titre">
         <span id="errorTitle"></span>

         <input type="number" name="note" id="note" placeholder="Note" min="1" max="5">
         <span id="errorNote"></span>

         <textarea name="comment" id="comment" placeholder="Commentaire" rows="8" cols="40"></textarea>
         <span id="errorComment"></span>

         <button id="publish">Publier votre commentaire</button>

   </form>

</section>
<!-- <p>{{messageComment}}</p> -->
{% endblock %}
