{% extends "base.html.twig" %}
{% block contenu %}
<main>
  <section>
    <h2>{{thnxFor}} <span>{{reservation}}</span></h2>
    <article id="content">
      <span>{{recap}}</span>
      <ul>
        <li>{{dateA}}: <span>{{fromDate}}</span></li>
        <li>{{dateD}}: <span>{{toDate}}</span></li>
        <li>{{recap1}}  <span>{{nbPerson}}</span> {{recap2}} <span>{{nbChild}}</span> {{recap3}}</li>
        <li>1 <span>{{roomType}}</span></li>
        <li>{{recap4}}: 10% TVA.</li>
        <li>{{recap5}}</li>
        <li>{{ttNight}}: <span>{{nbDay}}</span></li>
        <li>{{ttPay}}: <span>{{totalToPay}}</span></li>
        <li>{{recap6}}: <span>{{dateCancel}}</span></li>
      </ul>

    </article>
    <button onclick="window.print();">{{print}}</button>
  </section>
</main>
{% endblock %}
