{% extends "base.html.twig" %}
{% block contenu %}
  <section>
    <h2>Réserver une table au restaurant</h2>
    <article id="restaurant">
      <div id="img"></div>
      <p>Notre Chef 4 Etoiles, Cindy Gomes a résolument fait d’Epicure le bastion par excellence de la gastronomie française.</p>
      <p>Certains viennent à Nice juste pour goûter sa cuisine: ses macaronis farcis, truffe noire, artichaut et foie gras de canard reflètent tout le génie et la passion de celui qui figure parmi les plus grands.</p>
      <ul>
        <!-- <li> <span>Petit Déjeuner:</span> De 7h00 à 10h00 </li> -->
        <li> <span>Déjouner:</span> De 12H00 à 14h00</li>
        <li> <span>Diner</span> De 19h00 à 22h00</li>
      </ul>
    </article>
  </section>
  <section>
    <p>{{messageCheck}}</p>
    <p>{{errorCheck}}</p>
    <form id="checkAvailability" action="checkDateResaRestaurant.php" method="post">
      <input type="text" id="fromDate" name="CheckIn" value="Date">
      <select name="hourResa" id="hourResa">
        <option value="">--Horraire--</option>
        <option class="option" value="1">12</option>
        <option class="option" value="2">12h30</option>
        <option class="option" value="3">13h00</option>
        <option class="option" value="4">13h30</option>
        <option class="option" value="5">19h00</option>
        <option class="option" value="5">19h30</option>
        <option class="option" value="5">20h00</option>
        <option class="option" value="5">20h30</option>
      </select>
      <select name="nbPerson" id="nbPerson">
        <option value="">--Nombre de personnes--</option>
        <option class="option" value="1">1</option>
        <option class="option" value="2">2</option>
        <option class="option" value="3">3</option>
        <option class="option" value="4">4</option>
      </select>
      <input type="hidden" name="check" value="1">
      <input type="submit" name="submit" value="{{btnCheck}}">
    </form>
    </section>
    {% if showBtnResaRestaurant == 1 %}
    <section id="valideResa">
      <h2>Valider votre réservation</h2>
      <form action="valideResaRestaurant.php" method="post">
        <input type="hidden" name="clientId" value="{{clientId}}">
        <input type="hidden" name="fromDate" value="{{fromDate}}">
        <input type="hidden" name="hourResa" value="{{hourResa}}">
        <input type="hidden" name="nbPerson" value="{{nbPerson}}">
        <input type="hidden" name="idTable" value="{{idTable}}">
        <input type="submit" name="valideResa" value="valider la réservation">
      </form>
    </section>
    {% endif %}
{% endblock %}
