{% extends "base.html.twig" %}
{% block contenu %}
    <section>
      <!-- Formulaire de check-in -->
      {{include("checkIn.html.twig")}}
    </section>
    <section id="rooms">
      {% for getRoom in getRooms %}
        <article>
          <div id="{{getRoom.idImage}}"></div>
          <h2>{{getRoom.nomCategorie}}</h2>
          <p>{{getRoom.description}}</p>
          <ul>
            <li><img src="images/icones/list-puce-12.png" alt="icone puce">{{getRoom.caracterestique1}}</li>
            <li><img src="images/icones/list-puce-12.png" alt="icone puce">{{getRoom.caracterestique2}}</li>
            <li><img src="images/icones/list-puce-12.png" alt="icone puce">{{getRoom.caracterestique3}}</li>
          </ul>
          <h4>{{from}} <span>{{getRoom.tarifCategorieChambre}} €</span></h4>
          <form class="" action="formCheckInPage.php" method="post">
            <input type="submit" name="standardRoom" value="Réserver">
          </form>
        </article>
      {% endfor %}

    </section>

{% endblock %}
